apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "sops-operator.fullname" . }}-manager-role
  labels:
    {{- include "sops-operator.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - secrets.scalaric.io
    resources:
      - sopssecrets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - secrets.scalaric.io
    resources:
      - sopssecrets/finalizers
    verbs:
      - update
  - apiGroups:
      - secrets.scalaric.io
    resources:
      - sopssecrets/status
    verbs:
      - get
      - patch
      - update
