# This rule is not used by the project sops-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to secrets.gg.io resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: sops-operator
    app.kubernetes.io/managed-by: kustomize
  name: sopssecret-viewer-role
rules:
- apiGroups:
  - secrets.gg.io
  resources:
  - sopssecrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - secrets.gg.io
  resources:
  - sopssecrets/status
  verbs:
  - get
