apiVersion: secrets.gg.io/v1alpha1
kind: SopsSecret
metadata:
  labels:
    app.kubernetes.io/name: sops-operator
    app.kubernetes.io/managed-by: kustomize
  name: example-secret
spec:
  # This is an example of what a SOPS-encrypted YAML looks like.
  # The sopsSecret field contains the full output of `sops -e secret.yaml`
  # Replace this with your actual encrypted secret.
  sopsSecret: |
    username: ENC[AES256_GCM,data:YWRtaW4=,iv:abc123,tag:def456,type:str]
    password: ENC[AES256_GCM,data:c2VjcmV0,iv:xyz789,tag:ghi012,type:str]
    sops:
        kms: []
        gcp_kms: []
        azure_kv: []
        hc_vault: []
        age:
            - recipient: age1ql3z7hjy54pw3hyww5ayyfg7zqgvc7w3j2elw8zmrj2kg5sfn9aqmcac8p
              enc: |
                -----BEGIN AGE ENCRYPTED FILE-----
                YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBleGFtcGxlCg==
                -----END AGE ENCRYPTED FILE-----
        lastmodified: "2024-01-15T00:00:00Z"
        mac: ENC[AES256_GCM,data:abc123def456==,iv:aaa,tag:bbb,type:str]
        version: 3.9.0
  # Optional: specify a different name for the created Secret
  # secretName: my-app-credentials
  # Optional: specify Secret type (default: Opaque)
  # secretType: kubernetes.io/basic-auth
  # Optional: add labels to the created Secret
  # secretLabels:
  #   app: my-app
  # Optional: add annotations to the created Secret
  # secretAnnotations:
  #   description: "Credentials for my-app"
