# Example SopsSecret - the entire file can be encrypted with `sops -e -i`
#
# Workflow:
#   1. Create this file with plaintext values in spec.data
#   2. Run: sops -e -i secrets_v1alpha1_sopssecret.yaml
#   3. The file will be encrypted with spec.data values encrypted and sops metadata at root
#   4. Apply: kubectl apply -f secrets_v1alpha1_sopssecret.yaml
#
apiVersion: secrets.gg.io/v1alpha1
kind: SopsSecret
metadata:
  labels:
    app.kubernetes.io/name: sops-operator
    app.kubernetes.io/managed-by: kustomize
  name: example-secret
spec:
  # data contains key-value pairs for the Secret
  # Values matching encrypted_regex will be encrypted by SOPS
  data:
    username: ENC[AES256_GCM,data:YWRtaW4=,iv:abc123,tag:def456,type:str]
    password: ENC[AES256_GCM,data:c2VjcmV0,iv:xyz789,tag:ghi012,type:str]
  # Optional: specify a different name for the created Secret
  # secretName: my-app-credentials
  # Optional: specify Secret type (default: Opaque)
  # secretType: kubernetes.io/basic-auth
  # Optional: add labels to the created Secret
  # secretLabels:
  #   app: my-app
  # Optional: add annotations to the created Secret
  # secretAnnotations:
  #   description: "Credentials for my-app"
# SOPS metadata - added automatically by `sops -e`
sops:
  age:
    - recipient: age1ql3z7hjy54pw3hyww5ayyfg7zqgvc7w3j2elw8zmrj2kg5sfn9aqmcac8p
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBleGFtcGxlCg==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2024-01-15T00:00:00Z"
  mac: ENC[AES256_GCM,data:abc123def456==,iv:aaa,tag:bbb,type:str]
  encrypted_regex: ^(password|secret|token|api_key)$
  version: 3.9.0
